@model LearniVerseNew.Models.ApplicationModels.ViewModels.ProductCreateViewModel

@{
    ViewBag.Title = "Add Product";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Add New Product</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <h4>Product Details</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Price, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.QuantityInStock, new { @class = "control-label" })
                    @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    @Html.Label("Category", new { @class = "control-label" })
                    @Html.DropDownList("CategoryID", ViewBag.Categories as SelectList, "Select a category", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.ImageFile, "Product Image", new { @class = "control-label" })
                    <input type="file" name="ImageFile" class="form-control" />
                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @Html.ActionLink("Back to Product List", "Index", null, new { @class = "btn btn-secondary ml-2" })
                </div>
            }
        </div>
    </div>
</div>
