@model LearniVerseNew.Models.ApplicationModels.Trainer_Models.TrainingSession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trainer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingSessionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
