@model LearniVerseNew.Models.ApplicationModels.ViewModels.ReviewApplicationViewModel
 
@{
    ViewBag.Title = "View Enrollment Application";
}

<h2>Enrollment Application</h2>

<div>
    <h3>Student Information</h3>
    <p><strong>Name:</strong> @Model.Student.StudentFirstName @Model.Student.StudentLastName</p>
    <p><strong>Email:</strong> @Model.Student.StudentEmail</p>
    <p><strong>Faculty:</strong> @Model.Student.Faculty.FacultyName</p>
    <p><strong>Qualification:</strong> @Model.Student.Qualification.Name</p>
</div>

<hr />

<div>
    <h3>NSC Document</h3>
    <p><strong>Document Name:</strong> @Model.NSC.DocumentName</p>
    <p><strong>Submission Date:</strong> @Model.NSC.SubmissionDate.ToString("yyyy-MM-dd")</p>
    <p><strong>Document :</strong> <a href="@Url.Action("DownloadNSC", "Enrollments", new {studentId = Model.Student.StudentID, fileName = Model.NSC.DocumentName })">Download Document</a></p>
</div>

<hr />

<div>
    <h3>NSC Subjects</h3>
    <h4>Average Percentage: @Model.average</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.Subjects)
            {
                <tr>
                    <td>@subject.Subject</td>
                    <td>@subject.Marks</td>
                </tr>
            }
            <tr>

            </tr>
        </tbody>
    </table>
</div>


<hr />

@using (Html.BeginForm("ApproveEnrollment", "Enrollments", new { id = Model.Enrollment.EnrollmentID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">Approve</button>
}

@using (Html.BeginForm("RejectEnrollment", "Enrollments", new { id = Model.Enrollment.EnrollmentID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Reject</button>
}
