@model LearniVerseNew.Models.ApplicationModels.ViewModels.QuizViewModel

@{
    ViewBag.Title = "Quiz";
}

<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.Quiz.QuizDescription</h2>
            <hr />
            @foreach (var question in Model.Questions)
            {
                <div class="question-container" id="question-@question.QuestionNumber" style="display: none; margin-bottom: 20px;">
                    <h1 class="card-header mb-2">Question @question.QuestionNumber</h1>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@question.QuestionText</h5>
                            <input type="hidden" id="QuestionID" value="@question.QuestionID" />
                            <input type="radio" name="answer" value="A" /> A: @question.AnswerA <br />
                            <input type="radio" name="answer" value="B" /> B: @question.AnswerB <br />
                            <input type="radio" name="answer" value="C" /> C: @question.AnswerC <br />
                            <input type="radio" name="answer" value="D" /> D: @question.AnswerD <br />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-top: 20px;">
                <button class="btn btn-primary" id="prevButton">Previous</button>
                <button class="btn btn-primary" id="nextButton">Next</button>
                <button class="btn btn-primary" id="submitButton" style="display: none;">Submit</button>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Quiz Progress</h3>
            <p>Total Questions: @Model.Questions.Count</p>
            <p>Current Question: <span id="currentQuestionIndicator">1</span> / @Model.Questions.Count</p>
        </div>
    </div>
</div>
<br/>
@using (Html.BeginForm("SubmitQuiz", "Quiz", FormMethod.Post, new { id = "quizForm" }))
{
    
    <input type="hidden" id="SubmittedAnswers" name="SubmittedAnswersJson" />

    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
}
<div id="quizSubmitUrl" data-url="@Url.Action("SubmitQuiz", "Quiz")"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var currentQuestionNumber = 1;
            var questions = $('.question-container');
            var prevButton = $('#prevButton');
            var nextButton = $('#nextButton');
            var submitButton = $('#submitButton');
            var currentQuestionIndicator = $('#currentQuestionIndicator');
            var submittedAnswers = {};

            showQuestion(currentQuestionNumber);
            updateButtonVisibility(currentQuestionNumber);

            prevButton.click(function () {
                if (currentQuestionNumber > 1) {
                    currentQuestionNumber--;
                    showQuestion(currentQuestionNumber);
                    updateButtonVisibility(currentQuestionNumber);
                    updateCurrentQuestionIndicator(currentQuestionNumber);
                }
            });

            nextButton.click(function () {
                if (currentQuestionNumber < questions.length) {
                    var selectedAnswer = $('input[name="answer"]:checked').val();
                    if (selectedAnswer) {
                        var questionID = $('#question-' + currentQuestionNumber + ' #QuestionID').val();
                        submittedAnswers[questionID] = selectedAnswer;
                    }
                    currentQuestionNumber++;
                    showQuestion(currentQuestionNumber);
                    updateButtonVisibility(currentQuestionNumber);
                    updateCurrentQuestionIndicator(currentQuestionNumber);
                }
            });

            $('#submitButton').click(function () {
                // Serialize the submittedAnswers object and assign it to the hidden input
                var serializedAnswers = JSON.stringify(submittedAnswers);
                $('#SubmittedAnswers').val(serializedAnswers);

            });

            function showQuestion(number) {
                questions.hide();
                $('#question-' + number).show();
            }

            function updateButtonVisibility(number) {
                if (number === 1) {
                    prevButton.hide();
                } else {
                    prevButton.show();
                }

                if (number === questions.length) {
                    nextButton.hide();
                    submitButton.show();
                } else {
                    nextButton.show();
                    submitButton.hide();
                }
            }

            function updateCurrentQuestionIndicator(number) {
                currentQuestionIndicator.text(number);
            }


        });
    </script>
}
