@model LearniVerseNew.Models.ApplicationModels.ViewModels.ClassroomViewModel
@{
    ViewBag.Title = "Classroom";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Course.CourseName</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 border-start border-end border-black">
            <div class="jumbotron">
                <h3>Materials</h3>
                <hr />
                @foreach (var file in Model.Resources)
                {
                    <h4>@file.FileDescription</h4>
                    <ul>
                        <li>
                            <form id="downloadForm_@file.FileName" action="@Url.Action("DownloadBlob", "Resources")" method="post">
                                <input type="hidden" name="fileName" value="@file.FileName" />
                                <button type="submit" class="btn btn-link">@file.FileName</button>
                                <button type="button" class="btn btn-primary" onclick="generateQRCode('@file.FileName')">Generate QR Code</button>
                            </form>
                        </li>
                    </ul>
                    <hr />
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <h3>Classroom</h3>
                <hr />
                <!-- Content related to the classroom can be added here -->
            </div>
        </div>


    </div>
</div>


