@model LearniVerseNew.Models.ApplicationModels.ViewModels.ClassroomViewModel
@{
    ViewBag.Title = "Classroom";
}


<div class="container">

    <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="qrCodeModalLabel">Download File</h5>
                   
                </div>
                <div class="modal-body">
                    <img id="qrCodeImage" class="img-thumbnail" alt="QR Code" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Classroom</h2>
            <h4>@Model.Course.CourseName</h4>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron">
                <h3>Quizzes</h3>
                <hr />
                <ul>
                    @foreach (var quiz in Model.Quizzes)
                    {
                        <li>
                            <h4>@quiz.QuizDescription</h4>
                            <form action="@Url.Action("TakeQuiz", "Quiz")" method="get">
                                <input type="hidden" name="QuizID" value="@quiz.QuizID" />
                                <button type="submit" class="btn btn-primary">Take Quiz</button>
                            </form>

                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-9 border-start border-black">
            <div class="jumbotron ms-2">
                <h3>Learning Material</h3>
                <hr />
                @foreach (var file in Model.Resources)
                {
                    <h4>@file.FileDescription</h4>
                    <ul>
                        <li>
                            <form id="downloadForm_@file.FileName" action="@Url.Action("DownloadBlob", "Resources")" method="post">
                                <input type="hidden" name="fileName" value="@file.FileName" />
                                <button type="submit" class="btn btn-link">@file.FileName</button>
                                <br />
                                <button type="button" class="btn btn-danger btn-sm" onclick="generateQRCode('@file.FileName')">Download with QR</button>
                            </form>
                        </li>
                    </ul>
                    <hr />
                }
            </div>
        </div>

    </div>
</div>

<script>

function generateQRCode(blobName) {
    $.ajax({
        url: '@Url.Action("GetQrCode", "Resources")',
        type: 'GET',
        data: { blobName: blobName },
        success: function(response) {
            $('#qrCodeImage').attr('src', 'data:image/png;base64,' + response.QrCodeBase64);
            $('#qrCodeModal').modal('show');
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}
</script>
