@model LearniVerseNew.Models.ApplicationModels.TimeSlot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room.Campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Campus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeSlotID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
