@model IEnumerable<LearniVerseNew.Models.ApplicationModels.Gym_Models.BodyComposistion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyFatPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeanMuscleMass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecorded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyFatPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeanMuscleMass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BodyCompositionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BodyCompositionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BodyCompositionID })
        </td>
    </tr>
}

</table>
