@model LearniVerseNew.Models.StudySession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudySession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudySessionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
